# Ignore build folders
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake

# Ignore compiled files
*.o
*.a
*.so
*.dll
*.exe
*.obj
*.lib
*.pdb

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/

# Ignore temporary files created by editors
*.swp
*.swo

# Ignore log files
*.log

# Ignore dependency directories
/node_modules/
/.vscode/

# Ignore SFML config files
*.user
